API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
API_ID=your_api_id
FILEDB_CHANNEL=your_filedb_id
DOMAIN_URL=_your_domin_url
LANG=js
SUDO=your_uid
DATABASE_URL=your_postgresqldb_url
MODE=private
OWNER_ID=owner_uid
PORT=5000
BOT_NAME=your_bot_name
BOT_LOGO=your_logo_wrking_url
MAX_FILE_SIZE=4096 
GEN_SECRET_KEY_LENGTH=16